{% extends 'base.html'%}

{%block header%}
{{ super() }}
{%endblock%}

{% block content%}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">

  <form method="post" enctype="multipart/form-data" class="p-4 shadow" style="width: 400px; border-radius: 10px; background-color: #f8f9fa;">
    {% if error%}
      <p style="color: red;">{{ error }}</p>
      {% endif %}
    <h4 class="text-center mb-4">Добавить слово</h4>
    <div class="form-group mb-3">
      <label for="title">Слово</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Введите слово на английском">
    </div>
    <div class="form-group mb-3">
      <label for="translation">Перевод</label>
      <input type="text" name="translation" class="form-control" id="translation" placeholder="Введите перевод">
    </div>
    <div class="form-group mb-3">
      <label for="description">Описание</label>
      <input type="text" name="description" class="form-control" id="description" placeholder="Введите описание">
    </div>
    <div class="form-group mb-4">
      <label for="img">Image</label>
      <input type="file" name="img" class="form-control-file" id="img">
    </div>
    <button type="submit" class="btn btn-primary w-100">Добавить</button>
  </form>
</div>
{%endblock%}