{% extends 'base.html' %}

{% block title %}
Поиск по автору
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block navigation %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h6>Поиск книг по автору:</h6>
    <form method="post" action="/book/author" class="mb-4">
        <div class="form-group">
            <label for="book_author">Введите имя автора:</label>
            <input type="text" id="book_author" name="book_author" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Поиск</button>
    </form>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <h2 class="text-center mb-4">Результаты поиска</h2>

    <ul class="list-unstyled">
        {% for book in books %}
            <li class="mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.description }}</p>
                        <p><strong>Автор:</strong> {{ book.author }}</p>
                        <p><strong>Жанр:</strong> {{ book.genre }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}